.suggest_body{
    height: 100%;
    flex-direction: column;
    background-color: #f4f4f4;
    padding-top: 100px;
    align-items: center;
    .contacts-info_body{
        width:100%;
        background-color: #fff;
        height: 367px;
        margin-top: 32px;
        margin-bottom: 61px;
        flex-direction: column;
    }
    .suggest-body{
        width: 710px;
        height:399px;
        border-color: #DFDFDF;
        border-width: 2px;
        border-radius:10px;
    }
    .submit-button{
        width:680px;
        height:90px;
        justify-content: center;
        align-items: center;
        background-color: #9A70C2;
        >text{
            color: #fff;
            font-weight:400;
            font-size: 36px;
        }
    }
}