.yjf-home{
    height: 100%;
    background-color: #f4f4f4;
    .tab-content-section{
        flex-direction: column;
        // padding-top: 100px;
        >list{
            >list-item{
                flex-direction: column;
            }
        }
        .title-bar{
            // position: absolute;
            // left: 0px;
            // top: 0px;
            width: 100%;
            padding: 20px 20px;
            height: 100px;
            flex-direction: row;
            background-color: #996fc5;
            // background-color: #996fc5;
            justify-content: space-between;
            align-items: center;
            // .city{
            //     // width: 33%;
            //     // flex-direction: row;
            //     // padding-left: 20px;
            //     // justify-content: start;
            // }
            .logo{
                margin-left:-70px;
                height: 200px;
                justify-content: center;
                align-items: center;
                // width: 220px;
                // height: 150%;
                // justify-content: center;
                // align-items: center;
                // >image{
                    // object-fit:scale-down;
                    // width:200px;
                // }
                // width: 33%;
                // margin-top: 10px;
                // flex-direction: column;
                // justify-content: center;
            }
            .login{
                // width: 33%;
                // flex-direction: row;
                // padding-right: 0px;
                // margin-top: 20px;
                // justify-content: flex-end;
                .inner{
                    // width: 54px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    >div{
                        justify-content: center;
                        align-items: center;
                    }
                    .text{
                        // flex-direction: column;
                        // justify-content: center;
                        text{
                            margin-left: 5px;
                            font-size: 22px;
                        }
                    }               
                }
            }
            text{
                color: #fff;
            }
        }
        .slider{
            width: 100%;display: block;
            margin-bottom: 50px;
            height: 280px;
        }
        .no-network{
            margin: 0px 30px 50px 30px;
            justify-content: center;
        }
        .grids{
            margin: 0px 30px 50px 30px;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            .item{
                width: 25%;
                flex-direction: column;
                height: 146px;
                margin-bottom:40px;
                .icon{
                    margin-bottom: 20px;
                    >image{
                        width: 40%;
                    }
                }
                .icon,
                .text{
                    flex-direction: row;
                    justify-content: center;
                    >text{
                        font-size: 30px;
                    }
                }            
            }
        }
    }
    .order{
        flex-direction: column;
        >list{
            >list-item{
                flex-direction: column;
            }
            .load-status{
                >text{
                    text-align: center;
                    padding: 20px;
                }
            }
        }
        .header{
            // position: absolute;
            // left: 0px;
            // top: 0px;
            width: 100%;
            // margin-bottom: 40px;
            flex-direction: column;
            background-color: #996fc5;
            height: 100px;
            justify-content: center;
            align-items: center;
            .title{
                width: 100%;
                // padding: 30px 0;
                text{
                    width: 100%;
                    color: #ffffff;
                    font-size: 38px;font-weight: bold;
                    text-align: center;                
                }
            }
        }
        .list{
            flex-direction: column;
            justify-content: start;
            .item{
                width: 100%;
                background-color: #fff;
                border-top-width: 2px;
                border-top-color: #f0f0f0;
                .inner{
                    width: 100%;
                    padding: 80px 50px;
                    flex-direction: row;
                    justify-content: space-around;
                    image{
                        width: 60px;height: 60px;
                        margin-top: 10px;margin-right: 30px;
                        object-fit: scale-down;
                    }
                    .detail{
                        flex-direction: column;
                        width: 90%;
                        // flex: 1;
                        .title{
                            margin-bottom: 10px;
                            font-size: 32px;
                            white-space:nowrap;
                            overflow:hidden;
                            text-overflow:ellipsis;
                        }
                        .time{
                            margin-top: 10px;
                            color: #999;
                        }
                    }
                    .money{
                        // flex-grow:1;
                        font-size: 40px;font-weight: bold;
                        text-align: right;
                        // flex:1;
                        width: 260px;
                    }
                }
            }
        }
    }
    .user{
        background-color: #f4f4f4;
        .user-header{
            width: 100%;height: 300px;
            // margin-bottom: 20px;
            background-color: #996fc5;
            flex-direction: column;
            .title{
                width: 100%;margin-top: 20px;margin-bottom: 40px;
                text{
                    width: 100%;
                    color: #fff;font-size: 38px;font-weight: bold;
                    text-align: center;                
                }
            }
            .login{
                margin-left: 40px;
                text{
                    margin: 0 20px;
                    color: #fff;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
        
        .list{
            flex-direction: column;
            .item{
                width: 100%;
                background-color: #fff;
                border-bottom-width: 2px;
                border-bottom-color: #f0f0f0;
                padding: 40px 30px;
                .inner{
                    width: 100%;
                    // margin: 0 20px;
                    // height: 100px;
                    flex-direction: row;
                    background-image: url(./images/tail.png);
                    background-size: 15px 24px;
                    background-position: right center;
                    background-repeat: no-repeat;
                    align-items: center;
                    image{
                        // margin-top: 35px;
                        margin-right: 10px;
                    }
                }
            }
            
        }
        .logout-body{
            width: 100%;
            margin-top: 100px;
            padding: 20px;
            background-color: #fff;
            justify-content: center;
            text-align: center;
        }
    }
    .tab-bar{
        padding: 12px 0;
        border-top-width: 2px;
        border-top-color: #f0f0f0;
        /*background-color: #f0f0f0;*/
        .icon{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .image,
            .text{
                flex-direction: row;
                justify-content: center;
                font-size: 12px;
                text{
                    font-size: 28px;
                    color: #84968e;
                }
                .active{
                    color: #996fc5;
                }
            }
            image{
                width: 50px;height: 50px;
                margin-bottom: 8px;
            }
        }
    }
}