.cs-detail{
    height: 100%;
    flex-direction: column;
    background-color: #fff;
    .tab-bar{
        position: absolute;
        bottom: 0;
        border-top: 1px solid #000;
        text{
            text-align: center;
            display: inline-block;
        }
    }
}