.inspect-body{
    height: 100%;
    flex-direction: column;
    padding-top: 163px;
    background-color: #f4f4f4;
    align-items: center;
    .pay-fees{
        width:700px;
        height: 232px;
        border-radius:16px;
        background-color: #fff;
        padding: 30px 40px;
        flex-direction: column;
        // justify-content: space-between;
        .payment-icon{
            width: 100%;
            height: 60px;
            align-items: center;
            >text{
                margin-left: 20px;
                font-size: 30px;
                color: #333333;
            }
        }
        .payment-type{
            width:100%;
            // padding: 0px 53px 0px 32px;
            align-items: center;
            height: 172px;
            justify-content: space-between;
            // margin: 30px 0px 20px 0px;
            >text{
                font-size:30px;
                font-weight:400;
                color: #666666;
            }
            >div{
                >input{
                    width:280px;
                    height:66px;
                    font-size: 38px;
                    color: #333333;
                    text-align: right;
                    border-width: 2px;
                    border-style: solid;
                    border-color: #eaeaea;
                    border-radius:16px;
                    padding-right: 20px;
                    line-height: 66px;
                    ::placeholder{
                        color: #999999;
                        font-size: 38px;
                    }
                }
                >text{
                    font-size:42px;
                    font-family:AlibabaPuHuiTiR;
                    font-weight:400;
                    color: #333333;
                }
            }
        }
        .payment-input_type{
            align-items: center;
            justify-content: center;
            >div{
                >input{
                    color: #666666;
                    font-size: 72px;
                    border-bottom: 1px solid #cccccc;
                }
                .input-payment_amount{
                    font-size:48px;
                    font-family:SourceHanSansCN-Regular;
                    font-weight:400;
                    ::placeholder{
                        color: #bfbfbf;
                    }
                }
                >text{
                    color: #666666;
                    font-size: 72px;
                }
            }
            
        }
    }
    .pay-input{
        justify-content: flex-start;
        .payment-input_type{
            margin-top: 80px;
            >div{
                .input-payment_amount{
                    padding-bottom: 37px;
                    width: 450px;
                    text-align: center;
                }
            }
        }
    }
    .payment-user_info{
        width:700px;
        background-color:#ffffff;
        border-radius:16px;
        flex-direction: column;
        padding: 35px 40px;
        margin-top: 50px;
        .payment-info_item{
            width: 100%;
            padding:30px 0px;
            border-bottom-width: 1px;
            border-bottom-color: #EAEAEA;
            border-bottom-style: solid;
            align-items:center;
            .info-name{
                width: 35%;
                font-size:32px;
                font-family:'AlibabaPuHuiTiR';
                font-weight:400;
                color:#333333;;
            }
            .info-value{
                flex: 1;
                font-size:32px;
                font-family:'AlibabaPuHuiTiR';
                font-weight:400;
                color:#666666;
            }
        }
        .no-boder{
            border-bottom-width:0px;
        }
    }
    .top-up_amount{
        margin: 20px 0;
        background-color: #fff;
        padding: 30px;
        justify-content: space-between;
        >text{
            color: #999999;
            width: 200px;
            font-size: 30px;
        }
        >div{
            flex: 1;
            >input{
                width: 100%;
                text-align: right;
                font-size: 28px;
                margin-right: 10px;
            }
            >text{
                font-size: 28px;
                padding-right: 32px;
            }
        }
    }
    .info-list_body{
        background-color: #fff;
        flex-direction: column;
        .info-list_item{
            padding:30px 0;
            justify-content: space-between;
            font-size: 38px;
            .info-name{
                // color: #ccc;
                color: #999999;
                font-size: 30px;
                padding: 10px 0 10px 50px;
                width: 250px;
            }
            .info-value{
                font-size: 30px;
                padding: 10px 40px 10px 10px;
                
            }
        }
        
    }
    .invoice{
        color: #cccccc;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
    }
    .next-btn{
        justify-content: center;
        >text{
            width: 90%;
            border-radius: 45px;
            height: 90px;
            margin: 40px 5% 0px 5%;
            text-align: center;
            background-color: #9871c3;
            color: #fff;
            font-size: 38px;
            font-weight: bold;
        }
    }
    // 选择框
    .picker-body{
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 99;
        height: 100%;
        .picker-content{
            height: 1000px;
            background-color: #fff;
            width: 100%;
            position: fixed;
            left: 0px;
            bottom: 0px;
            flex-direction: column;
            .picker-title{
                justify-content: space-between;
                height: 80px;
                width: 100%;
                border-bottom-width: 1px;
                border-bottom-color: #f4f4f4;
                font-size: 40px;
                font-weight: bold;
                .close-picker{
                    width: 80px;
                    justify-content: center;
                    align-items: center;
                    // padding-right: 20px;
                }
            }
            .picker-option{
                height: 700px;
                width: 100%;
                flex-direction: column;
                font-size: 38px;
                overflow: auto;
                .picker-option_body{
                    height: auto;
                    flex-direction: column;
                    width:100%;
                    .picker-item{
                        padding: 20px;
                        justify-content: space-between;
                        height: 120px;
                        >text{
                            font-size: 38px;
                        }
                    }
                }
            }
            .next-btn{
                justify-content: center;
                >text{
                    width: 90%;
                    border-radius: 45px;
                    height: 90px;
                    margin: 60px 5%;
                    text-align: center;
                    background-color: #9871c3;
                    color: #fff;
                    font-size: 38px;
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes pickerTop{
    from {bottom:-1000px}
    to {bottom:0px}
}