.city-list_body{
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f4;
    align-items: center;
    .search-city{
        background-color: #fff;
        width: 90%;
        margin: 20px 5%;
        // height: 60px;
        border-radius: 10px;
        font-size: 38px;
        padding: 20px;
    }
}