.group-manage_body{
    height: 100%;
    flex-direction: column;
    background-color: #f4f4f4;
    padding-top: 139px;
    align-items: center;
    >list{
        width: 710px;
        align-items: center;
        .group-body{
           width: 100%;
            padding: 44px 17px 0px 62px;
            border-radius: 20px;
            margin-bottom: 17px;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            // >text{
            //     width:100%;
            //     text-align: center;
            // }
            .add-group{
                padding-bottom: 44px;
                align-items: center;
                >image{
                    width: 26px;
                    height: 26px;
                    margin-right: 20px;
                }
                >text{
                    color: #333333;
                    font-size: 30px;
                }
            }
            .group-body_title{
                width: 100%;
                justify-content: space-between;
                padding-bottom: 51px;
                >text{
                    color: #333333;
                    font-size: 32px;
                }
                >div{
                    width: 157px;
                    padding-right: 20px;
                    justify-content: space-between;
                    >image{
                        width: 37px;
                        height: 35px;
                    }
                }
            }
            .group-manage_content{
                width: 100%;
                border-top-width: 1px ;
                border-top-style: solid;
                border-top-color: #D7D7D7;
                height: 172px;
                padding-bottom: 44px;
                padding-top: 48px;
                align-items: center;
                justify-content: space-between;
                .group-content_left{
                    flex: 1;
                    >image{
                        width: 37px;
                        height: 32px;
                    }
                    >div{
                        margin-left: 38px;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-between;
                        .pay-type_text{
                            font-size:30px;
                            font-family:SourceHanSansCN-Regular;
                            font-weight:400;
                            color: #333333;
                        }
                        .pay-bill{
                            font-size:26px;
                            font-family:SourceHanSansCN-Regular;
                            font-weight:400;
                            color: #b9b9b9;
                        }
                    }
                }
                .group-content_right{
                    width: 157px;
                    padding-right: 20px;
                    justify-content: space-between;
                    >image{
                        width: 37px;
                        height: 32px;
                    }
                }
            }
        }

    }
    .modification-body{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: rgba(26,26,26,0.6);
        justify-content: center;
        align-items: center;
        .modification-content{
            width: 600px;
            height: 315px;
            border-radius: 6px;
            background-color: #fff;
            flex-direction:column;
            padding-top: 47px;
            .modification-title{
                width: 100%;
                justify-content: center;
                >text{
                    font-size:36px;
                    font-family:SourceHanSansCN-Regular;
                    font-weight:400;
                    color: #333333;
                }
            }
            .modification-input{
                flex: 1;
                justify-content: center;
                align-items: center;
                >input{
                    width:471px;
                    height:63px;
                    padding-left: 15px;
                    border-width:2px;
                    border-color: #D7D7D7;
                    border-radius:4px;
                    color: #333333;
                    font-size: 30px;
                    ::placeholder{
                        color: #9B9D9F;
                    }
                }
            }
            .modification-btn{
                height: 102px;
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: #D7D7D7;
                >text{
                    flex: 1;
                    height: 100%;
                    line-height: 102px;
                    text-align: center;
                    color: #999999;
                    font-size: 30px;
                }
                .modification-save_btn{
                    border-left-width: 1px;
                    border-left-style: solid;
                    border-left-color: #D7D7D7;
                    color: #9A70C2;
                }
            }
        }
    }
    .delete-body{
        .modification-content{
            padding-top: 47px;
            .modification-input{
                >text{
                    color: #333333;
                    font-size: 32px;
                }
            }
        }
    }
}